Repository spencerfrost/zaileeart: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-frontend-workflow, run-backend-workflow

Add setup flag to CircleCI configuration
  .circleci/config.yml
Due: none

Add setup flag to continue-config.yml for CircleCI
  .circleci/continue-config.yml
Due: none

Refactor CircleCI configuration to consolidate build jobs and remove deprecated parameters
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

Fix typo in backend deployment command for CircleCI configuration
  .circleci/config.yml
Due: none

Exclude sensitive files from deployment in CircleCI configuration
  .circleci/config.yml
Due: none

Update CircleCI deployment commands and frontend configuration for environment variables
  .circleci/config.yml
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow

Fix ecosystem configuration file extension in deployment command
  .circleci/config.yml
Due: none

Remove Strapi API prefix from Nuxt configuration
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow

Add CORS configuration to allow requests from specific origin
  apps/backend/config/cors.ts
Due: run-backend-workflow

Update CircleCI deployment commands to remove sensitive file exclusions and adjust backend upload path
  .circleci/config.yml
Due: none

Refactor CircleCI deployment to use SCP instead of rsync and remove API prefix from Nuxt configuration
  .circleci/config.yml
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow

Add PUBLIC_URL configuration to server settings
  apps/backend/config/server.ts
Due: run-backend-workflow

Enable CORS middleware with specific origin and add admin path to Strapi configuration
  apps/backend/config/middlewares.ts
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow, run-backend-workflow

Replace SCP with rsync for deployment and add rsync installation step in CircleCI config
  .circleci/config.yml
Due: none

Disable CORS middleware globally and restrict origin to specific domain
  apps/backend/config/middlewares.ts
Due: run-backend-workflow

Remove API prefix and admin path from Strapi configuration in Nuxt settings
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow

Restore API prefix in Strapi configuration for Nuxt settings
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow

Refactor Strapi integration: remove deprecated code, update API usage, and enhance component structure
  .circleci/continue-config.yml
  apps/frontend/components/ContactForm.vue
  apps/frontend/components/FeaturedWorks.vue
  apps/frontend/components/HeroSection.vue
  apps/frontend/components/LatestNews.vue
  apps/frontend/composables/useServerStrapi.ts
  apps/frontend/composables/useStrapi.ts
  apps/frontend/nuxt.config.ts
  apps/frontend/package.json
  apps/frontend/pages/about.vue
  apps/frontend/pages/artwork/[id].vue
  apps/frontend/pages/artworks/[id].vue
  apps/frontend/pages/gallery.vue
  apps/frontend/pages/index.vue
  apps/frontend/plugins/strapi.ts
  apps/frontend/store/artwork.js
  apps/frontend/store/blog.js
  apps/frontend/types/strapi.d.ts
  package.json
Due: run-frontend-workflow

Update CircleCI config to install dependencies without frozen lockfile
  .circleci/config.yml
Due: none

Update useFullImageUrl to prepend 'public' prefix for production environment
  apps/frontend/composables/useFullImageUrl.ts
Due: run-frontend-workflow

Remove commented-out Memphis pattern background image from Tailwind config
  apps/frontend/tailwind.config.js
Due: run-frontend-workflow

Remove unused Memphis background styles and clean up Tailwind configuration
  apps/frontend/assets/css/tailwind.css
  apps/frontend/tailwind.config.js
Due: run-frontend-workflow

Fix path construction in useFullImageUrl for production environment
  apps/frontend/composables/useFullImageUrl.ts
Due: run-frontend-workflow

Add lucide-vue-next dependency and update color scheme across components
  apps/frontend/components/ArtworkCard.vue
  apps/frontend/components/ContactForm.vue
  apps/frontend/components/FeaturedWorks.vue
  apps/frontend/components/Footer.vue
  apps/frontend/components/Header.vue
  apps/frontend/components/HeroSection.vue
  apps/frontend/components/LatestNews.vue
  apps/frontend/package.json
  apps/frontend/pages/about.vue
  apps/frontend/pages/contact.vue
  apps/frontend/pages/gallery.vue
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Due: run-frontend-workflow

Update server URL in configuration to point to the server endpoint
  apps/backend/config/server.ts
Due: run-backend-workflow

Show social links in footer only if available in artist profile
  apps/frontend/components/Footer.vue
Due: run-frontend-workflow

Update Strapi URL in Nuxt configuration to point to production server
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow

Simplify path construction in useFullImageUrl by removing production check
  apps/frontend/composables/useFullImageUrl.ts
Due: run-frontend-workflow

Set admin URL to '/server/admin' in backend configuration
  apps/backend/config/admin.ts
Due: run-backend-workflow

Update admin URL in backend configuration to '/admin'
  apps/backend/config/admin.ts
Due: run-backend-workflow

Refactor styles and update theme variables across components for consistency
  apps/frontend/app.vue
  apps/frontend/assets/css/tailwind.css
  apps/frontend/components/ArtworkCard.vue
  apps/frontend/components/ContactForm.vue
  apps/frontend/components/FeaturedWorks.vue
  apps/frontend/components/Footer.vue
  apps/frontend/components/Header.vue
  apps/frontend/components/HeroSection.vue
  apps/frontend/components/LatestNews.vue
  apps/frontend/layouts/default.vue
  apps/frontend/nuxt.config.ts
  apps/frontend/pages/about.vue
  apps/frontend/pages/artwork/[id].vue
  apps/frontend/pages/contact.vue
  apps/frontend/pages/gallery.vue
  apps/frontend/pages/index.vue
  apps/frontend/pages/theme.vue
  apps/frontend/tailwind.config.js
Due: run-frontend-workflow

Add README.md with project overview, setup instructions, and ESLint configuration
  README.md
Due: none

Add ESLint and Prettier configuration files, set up Husky pre-commit hook, and update package dependencies
  .gitignore
  .husky/pre-commit
  .prettierignore
  .prettierrc
  apps/backend/eslint.config.mjs
  apps/backend/package.json
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
  apps/frontend/tailwind.config.js
  eslint.config.mjs
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/index.js
  pnpm-lock.yaml
Due: run-frontend-workflow, run-backend-workflow

Update backend server port to 3222
  apps/backend/config/server.ts
Due: run-backend-workflow

Update backend server and frontend URLs to use 'zailee.ca' domain
  apps/backend/config/cors.ts
  apps/backend/config/middlewares.ts
  apps/backend/config/server.ts
  apps/frontend/nuxt.config.ts
Due: run-frontend-workflow, run-backend-workflow

Update backend server and frontend URLs to use 'zailee.ca' domain
  apps/backend/config/server.ts
Due: run-backend-workflow

Update CircleCI configuration
  .circleci/config.yml
Due: none

Update Artwork with Category relation
  .gitignore
  apps/backend/src/api/artwork/content-types/artwork/schema.json
  apps/backend/src/api/category/content-types/category/schema.json
  apps/backend/src/api/category/controllers/category.ts
  apps/backend/src/api/category/routes/category.ts
  apps/backend/src/api/category/services/category.ts
  apps/backend/types/generated/contentTypes.d.ts
Due: run-backend-workflow

Update category schema with name attribute and add description field
  apps/backend/src/api/category/content-types/category/schema.json
  apps/backend/types/generated/contentTypes.d.ts
Due: run-backend-workflow

Path conditions:
  run-frontend-workflow: any of: apps/frontend/.*
  run-backend-workflow: any of: apps/backend/.*
